.audiojs {
    max-width: 100%;
    background-color: #e6e6e5;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: none;
    height: 100px;
    border-radius: 15px;
    border: 3px solid #77797a
}

.audiojs * {
    border-width: 0
}
.audiojs .play-pause {
    border: none !important;
}
.loaded, .play-pause, .progress, .scrubber {
    background-color: transparent
}

.scrubber {
    position: absolute;
    bottom: -33px !important;
    left: 20% !important;
    width: 60% !important;
    background-color: #232323 !important;
    height: 2px !important;
    margin: 10px 0 0 !important;
}
.audiojs .scrubber {
    border: none !important;
}
.loaded, .progress {
    width: 100%;
    height: 2px !important;
    background-color: #474747
}

.play-pause {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 14px;
    left: calc(50% - 10px)
}

.play-pause .loading, .play-pause .pause, .play-pause .play {
    background-position: 0 0;
    background-image: url("../img/play.png");
    background-repeat: no-repeat
}

.play-pause .pause {
    background-image: url("../img/pause.png");
}

.audio-wrap .time {
    display: none;
}